*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    
}
.all{
    width: 255px;
    margin: 0 auto;
    background-color: rgb(50, 50, 50);
    margin-top: 100px;
    padding: 14px 0 6px;
}
.visor{
    width: 234px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    margin: 0px auto 6px;
}
.main{
    margin: 0 auto;
}
table{
    position: relative;
    margin: 0 auto;
}
input[type="button"]{
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 5px;
    border: 1px solid rgb(100, 100, 100);
}
tr td #somar{
    position: absolute;
    right: 0;
    bottom: 0px;
    height: 112px;
    margin: 0 6px 7px 0;
}
.main #del{
    background-color: rgb(255, 0, 0);
}
input:focus{
    outline: none;
}
#raiz, #porcento, #dividir, #multiplicar, #subtrair, #somar{
    background-color: orange;
}
#resultado{
    background-color: rgb(38, 255, 0);
}
#ponto, #zero, #um, #dois, #tres, #quatro, #cinco, #seis, #sete, #oito, #nove{
    background-color: rgb(230, 230, 230);
}
